[Desktop Entry]
Name=Bluetooth Adapters
Name[am]=የ ብሉቱዝ አዳፕተሮች
Name[ar]=محولات بلوتوث
Name[ast]=Adautadores Bluetooth
Name[be]=Bluetooth-адаптары
Name[bg]=Bluetooth адаптери
Name[bs]=Bluetooth Adapteri
Name[cs]=Bluetooth adaptéry
Name[da]=Bluetooth-adaptere
Name[de]=Bluetooth-Adapter
Name[el]=Προσαρμογείς Bluetooth
Name[en_AU]=Bluetooth Adaptors
Name[en_GB]=Bluetooth Adaptors
Name[es]=Adaptadores Bluetooth
Name[et]=Bluetooth'i adapterid
Name[fi]=Bluetooth-sovittimet
Name[fr]=Adaptateurs Bluetooth
Name[gl]=Adaptadores de Bluetooth
Name[hi]=ब्लूटूथ एडाप्टर
Name[hr]=Bluetooth adapteri
Name[hu]=Bluetooth illesztők
Name[id]=Perangkat Bluetooth
Name[it]=Adattatori Bluetooth
Name[ja]=Bluetoothアダプタ
Name[ko]=블루투스 어댑터
Name[lt]=„Bluetooth“ adapteriai
Name[lv]=Bluetooth Adapteri
Name[mk]=Блутут адаптери
Name[mr]=Bluetooth अडॅप्टर
Name[ms]=Penyesuai Bluetooth
Name[nb]=Blåtannsadaptere
Name[nl]=Bluetooth-adapters
Name[pl]=Adaptery Bluetooth
Name[pt]=Adaptadores Bluetooth
Name[pt_BR]=Adaptadores de Bluetooth
Name[ro]=Adaptoare bluetooth
Name[ru]=Адаптеры Bluetooth
Name[sk]=Adaptéry Bluetooth
Name[sl]=Adapter bluetooth
Name[sr]=Блутут примопредајници
Name[sv]=Blåtandsadaptrar
Name[sw]=Adapta za Bluetooth
Name[tr]=Bluetooth Aygıtları
Name[uk]=Адаптери Bluetooth
Name[zh_CN]=蓝牙适配器
Name[zh_TW]=藍牙配接器
Comment=Set Bluetooth Adapter Properties
Comment[ar]=ضبط خصائص محوّل البلوتوث
Comment[be]=Заданне ўласцівасцяў Bluetooth-адаптара
Comment[bg]=Настройка на Bluetooth адаптера
Comment[da]=Sæt Bluetooth-adapteregenskaber
Comment[de]=Bluetooth-Adaptereigenschaften einstellen
Comment[el]=Ορίστε τις ιδιότητες του προσαρμογέα Bluetooth
Comment[en_AU]=Set Bluetooth Adapter Properties
Comment[en_GB]=Set Bluetooth Adapter Properties
Comment[es]=Establecer las propiedades del adaptador de Bluetooth
Comment[fr]=Définir les propriétés de l'adaptateur Bluetooth
Comment[hu]=Bluetooth adapter tulajdonságainak beállítása
Comment[id]=Atur Properti Adapter Bluetooth
Comment[it]=Imposta le Proprietà di un Adattatore Bluetooth
Comment[ko]=블루투스 어댑터 속성 설정
Comment[lt]=Nustatyti Bluetooth Adapterio Savybes
Comment[lv]=Iestatīt Bluetooth Adapteri
Comment[ms]=Tetapkan Sifat Penyesuai Bluetooth
Comment[nb]=Velg egenskaper for Blåtannsadaptere
Comment[nl]=Bluetooth-adapter eigenschappen
Comment[pl]=Ustaw właściwości Adaptera Bluetooth
Comment[pt]=Definir propriedades do adaptador Bluetooth
Comment[ru]=Установить свойства адаптеров Bluetooth
Comment[sr]=Подесите својства блутут примопредајника
Comment[tr]=Bluetooth Adaptör Özelliklerini Ayarla
Comment[uk]=Встановити властивості адаптерів Bluetooth
Comment[zh_CN]=设置蓝牙适配器属性
Comment[zh_TW]=設定藍牙配接器屬性
Exec=blueman-adapters
Icon=blueman-device
Terminal=false
Type=Application
Categories=X-XFCE;Settings;HardwareSettings;X-XFCE-SettingsDialog;GTK;
StartupNotify=true
OnlyShowIn=XFCE;MATE;
NoDisplay=false
X-XfceSettingsName=Bluetooth
X-XfcePluggable=false
